@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  transition: all 0.3s ease;
}

.navbar {
  padding-block: 1.3em;
  padding-inline: 1rem;
}

.hero-section {
  position: relative;
  background-image: url("../images/car.jpg");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block: 10rem;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.hero-section__content {
  position: relative;
  z-index: 3;
}